body{
    margin : 0;
    padding : 0;
}

.subHeaders {
    color: #D6A68D;
    display: flex;
    justify-content:center;
    padding: 2%;
  }

.team-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
}

.img{
    /* margin: 6rem;  */
    padding: 2rem 0;
    border-radius: 50%;
}

img{
    width: 150px;
    height: 200px;
}
.person{
    margin: 1rem; 

}



.name, .role{
    margin-right: 2rem;
    /* display: flex;
    align-items: center;
    width: 120px; */
}